*{
   box-sizing: border-box; 
}
body , html{
    padding: 0px;
    margin: 0px;
    background-color: black;
    height: 100%;
}

.container-1{
    height: 100%;
    background-image: url(./img/20180904_120229.jpg);
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    background-size:cover;
    background-position:right;
}
.logo > img{
    max-height: 30%;
    max-width:30%;
}
#hello{
    font-family: 'Pacifico', cursive;
    font-family: 'Permanent Marker', cursive;
    font-size: 20px;

}
#name{
    font-family: 'Pacifico', cursive;
    font-size:8vh;
    margin: 0;
}
#about{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
}
#dev{
    font-family: 'Pacifico', cursive;
    font-family: 'Permanent Marker', cursive;
    font-family: 'Press Start 2P', cursive;
    font-family: 'Fugaz One', cursive;
    font-size: 4vh;
}

 
.container-2{
    background-color: black;
    height: 100%;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
    margin-top: 30px;
}
.side-bar{
    width: 40%;
    height: 20%;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    background-color: black;
}
.link{
    color: white;
    width: 20%;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Merienda', cursive;
    font-size: 3vh;
    text-align: center;
}
.info{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    color: white;
    font-family: 'Merienda', cursive;
    font-family: 'Italianno', cursive;
}
.info>img{
    border-radius: 60%;
    width: 20%;
    height: 55%;
}
.info>p{
    text-align: center;
    font-size: 5vh;
}
.show{
    display:block;
}
.CV{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.container-3{
    height: 100%;
    background-image: url(./img/20180903_195509.jpg);
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    background-size:cover;
    }
/* button style */
  .btn {
    padding: 20px;
    margin: 10px;
    color: white;
    border: pink 2px solid;
    border-radius: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Merienda', cursive;
  }
#cv{
    width: 100%;
    max-width: 600px;
    height: auto;
  }